body {
    background: $body-bg;

    min-height: 100vh;
}

p {
    line-height: 1.6;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: $black;
}

img {
    width: 100%;
    vertical-align: bottom;
}

input, button {
    appearance: none;
    border: none;
}

button{
    background-color: transparent;
    
    padding: 0;

    outline: none;

    cursor: pointer;
}

.fa, .fas, .far, .fal, .fab {
    vertical-align: text-bottom;
    font-size: 18px;
}
