// Body
$body-bg: #3B5998;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000;
$white: #fff;
$gray: #717171;
$light-gray: #f7f7f7;
$dark-gray: #333;

$blue: #0099ff;
$red: #e3342f;
$green: #51c688;

$light-green: lighten($green, 10%);
$light-blue: lighten($blue, 10%);
$light-red: lighten($red, 10%);
$dark-green: darken($green, 10%);
$dark-blue: darken($blue, 10%);
$dark-red: darken($red, 10%);

/* size */
$headerHeight: 64px;
$commonWidth: percentage(1640 / 1920);
