body {
    background-color: #21d4fd;
    background-image: linear-gradient(135deg,#21d4fd 0,#b721ff 100%);

    min-height: 100vh;
}
.mypage {
    background-color: #08AEEA;
    background-image: linear-gradient(135deg, #08AEEA 0%, #2AF598 100%);
}
.caution {
    background-color: #FFE53B;
    background-image: linear-gradient(135deg, #FFE53B 0%, #FF2525 74%);
}

.l-main {
    min-height: 100vh;
}

.l-container {
    position: relative;
    top: 0;
    left: 0;
    
    min-height: 100vh;
    
    padding-top: 64px;
    
    box-sizing: border-box;
    
    z-index: 0;
    
    &--center {
        @include fx-c;
    }
}

.c-container {}

.l-header {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
}

.c-header {
    height: $headerHeight;

    &__row {
        display: flex;
        justify-content: space-between;

        max-width: 1280px;
        width: 86%;
        height: $headerHeight;
    
        margin: auto;
    }

    &__logo {
        flex-basis: 142px;

        line-height: $headerHeight;
            
        transition: opacity .2s;

        &:hover {
            opacity: .6;
        }
    }
}
