/*
 *  display:flexを使用した中央配置
 */
@mixin fx-c {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*
 *  3点リーダー
 */
@mixin text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
 *  ブレイクポイント
 */
 $breakpoint-up: (
    'sm'  : 'screen and (min-width: 480px)',
    'md'  : 'screen and (min-width: 768px)',
    'lg'  : 'screen and (min-width: 1024px)',
    'xl'  : 'screen and (min-width: 1280px)',
    'xxl' : 'screen and (min-width: 1440px)',
    'xxxl' : 'screen and (min-width: 1920px)',
  ) !default;
  $breakpoint-down: (
    'xs'  : 'screen and (max-width: 320px)',
    'sm'  : 'screen and (max-width: 479px)',
    'md'  : 'screen and (max-width: 767px)',
    'lg'  : 'screen and (max-width: 1023px)',
    'xl'  : 'screen and (max-width: 1199px)',
    'xxl' : 'screen and (max-width: 1439px)',
    'xxxl' : 'screen and (min-width: 1919px)',
  ) !default;
@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

