.c-navbar {
    @include mq-down('md') {
        @include fx-c;

        position: fixed;
        top: 0;
        left: 0;

        background: rgba(0, 0, 0, .6);

        min-width: 100vw;
        min-height: 100vh;

        transform: translateY(-100%);

        transition: transform .4s;

        z-index: 50;
    }

    &__humberger {
        display: none;

        @include mq-down('md') {
            display: block;

            position: fixed;
            top: 18px;
            right: 20px;

            width: 42px;
            height: 32px;

            border: solid #fff;
            border-width: 4px 0;
            box-sizing: border-box;

            transition: height .4s, top .4s, border-width .4s;

            z-index: 100;

            &::before {
                content: '';
                display: block;

                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;

                background: $white;

                width: 100%;
                height: 4px;

                margin: auto;

                transition: background .4s;
            }
        }
    }

    &__items {
        @include mq-up('md') {
            display: flex;
        }
    }

    &__item {
        text-align: center;
    }
    
    &__link {
        display: block;

        position: relative;

        padding: 0 12px;
        
        line-height: $headerHeight;

        color: #fff;
            
        transition: opacity .2s;

        &--icon {
            margin-right: 8px;
        }

        &::before {
            content: '';
            display: block;

            position: absolute;
            bottom: 0;
            left: 0;

            background: $white;

            width: 100%;
            height: 0;

            transition: height .1s;
        }

        &:hover {
            &::before {
                height: 3px;
            }
        }
    }

    &__checkbox:checked + & {
        transform: translateY(0%);
    }
        
    &__checkbox:checked + & + &__humberger {
        top: 26px;

        height: 18px;

        border-width: 3px 0;

        &::before {
            background: transparent;
        }
    }
}
