.c-panel {
    overflow: hidden;

    background: $white;

    padding: 3%;

    text-align: center;

    border: 1px solid $gray;
    border-radius: 3px;

    &--nondata {
        position: relative;
        background: none;

        color: $white;
        
        border: 2px dotted #dadada;

        &-icon {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 96px;
            height: 96px;

            margin: auto;
        }
    }

    &:hover {
        border-color: $white;

        cursor: pointer;
    }

    &__thumb {
        width: 50%;

        border-radius: 50%;
    }

    &__name {
        @include text-ellipsis;

        display: block;

        margin-top: 10%;

        line-height: 1.4;
        font-size: 16px;

        @include mq-down('md') {
            font-size: 14px;
        }
    }
}