.c-settings {
    background: $white;

    width: 100%;

    padding: 5%;

    &__heading {
        display: block;

        padding-bottom: 24px;

        font-size: 24px;
        
        border-bottom: 1px solid #717171;

        @include mq-down('md'){
            padding-bottom: 12px;

            font-size: 20px;
        }

        &::before {
            margin-right: 12px;

            vertical-align: middle;
            font-size: 20px;
        }
    }

    &__field {
        margin: 24px 0;
    }

    &__title {
        display: block;

        margin-bottom: 8px;
        
        font-weight: bold;
    }

    &__text {
        @include text-ellipsis;
    }

    &__items {
        overflow-y: scroll;

        height: 280px;

        padding: 12px;

        border: 1px solid $gray;
    }

    &__item {
        overflow: hidden;

        width: 100%;

        line-height: 1.6;

        @include text-ellipsis;

        a {
            margin-right: 8px;
    
            &.fas.fa-trash-alt {
                color: $red;
    
                &:hover {
                    color: $dark-red;
                }
            }
        }
    }


    &__bottom {
        @include fx-c;
    }
}