.l-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background: rgba(58, 89, 151, 0.9);

    max-width: $max-width;
    width: 86%;
    height: $headerHeight;

    margin: auto;

    z-index: 1;

    &__row {
        display: flex;
        justify-content: space-between;
        height: $headerHeight;
    }

    &__logo {
        flex-basis: 142px;

        line-height: $headerHeight;
            
        transition: opacity .2s;

        &:hover {
            opacity: .6;
        }
    }
}
