$pc-column: 3;
$sp-column: 2;
.p-account {
    &__heading {
        margin-bottom: 24px;
        padding-left: 12px;

        line-height: 2;
        color: #fff;
        font-size: 24px;

        border-left: 4px solid #fff;
    }
    
    &__items {
        display: flex;
        flex-wrap: wrap;

        margin: -1%;
    }

    &__item {
        flex-basis: percentage((100 - ($pc-column*2))/100 / $pc-column);

        margin: 1%;

        @include mq-down('md') {
            flex-basis: percentage((100 - ($sp-column*2))/100 / $sp-column);
        }
    }
}